@use 'config' as *;

/*--------------------------------------------------------------
 * Webinar styles
--------------------------------------------------------------*/

.single-webinar {
	.webinar-schedule {
		font-size: var(--wp--preset--font-size--regular);
	}
}

.story-card {
	.webinar-schedule {
		margin: 0;
		flex-direction: column;
		align-items: start;
		width: 100%;
	}
}

.recording {
	@include rounder;
}

